<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.net>
    <mailSettings>
      <smtp from="storgage.test@gmail.com" deliveryMethod="Network" xdt:Transform="Replace">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="storgage.test@gmail.com" password="WLstortestPass!1" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="MaximumPhotoCountForStorgage" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="maxLengthOfImage" value="1048576" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="emailTokenExpiredTime" value="12" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- S3 Preferences -->
    <add key="s3spacesOriginal" value="original" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3spacesThumbnails" value="1200;480" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3usersOriginal" value="original" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3ContactUsOriginal" value="original" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3usersThumbnails" value="1200;240" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3spacesBucket" value="storgage-dev-spaces" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3usersBucket" value="storgage-dev-users-avatars" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3ContactUsBucket" value="storgage-dev-contact-us" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3spacesImagesUrl" value="https://s3-us-west-2.amazonaws.com/storgage-dev-spaces/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3usersImagesUrl" value="https://s3-us-west-2.amazonaws.com/storgage-dev-users-avatars/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="s3contactUsFileUrl" value="https://s3-us-west-2.amazonaws.com/storgage-dev-contact-us/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- SNS settings -->
    <add key="SnsTopicNamePrefix" value="dev-publisher-topic" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Apns" value="arn:aws:sns:us-west-2:467287836465:app/APNS_SANDBOX/Storgage-Dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsLive" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="UserLockoutEnabledByDefault" value="true" />
    <add key="DefaultAccountLockoutTimeSpan" value="15" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="storgageEntities" connectionString="metadata=res://*/StorgageModel.csdl|res://*/StorgageModel.ssdl|res://*/StorgageModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.213.147.244;initial catalog=storgage-dev;persist security info=True;user id=storgage;password=storgageWL!123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
