@model Weezlabs.Storgage.DataTransferObjects.ViewModels.Account.ForgotPasswordEmailViewModel
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        Someone requested that the password for you Storgage account be reset.
    </div>
    <br /><br />
    <div>
        Copyable link: <a href='@Model.Link'>@Model.Link</a>
    </div>
    <br /><br />
    <div align="justify">This link good until @String.Format("R: {0:R}", @Model.Expired) and can only be used once.</div>
    <br /><br />
    <div>If you didn't request this, you can ignore this email or let us know. Your password won't change until you create new password.</div>
</body>
</html>